#menu
{
    position:absolute;
}
#menu li
{
    float:left;
    list-style-type:none;
    padding-right:20px;
    width:100px;
    background-color:silver;
}
#menu li ul
{
    background-color:silver;
    margin:0px;
    padding:0px;
}
#menu li ul li
{
    padding:0px;
    margin:0px;
    float:none;
    list-style-type:none;
    width:80px;
}
